body {
    font-family: 'Poppins', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .nav-wrapper {
    background: linear-gradient(to right, #424242, #616161);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  